<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h2>BYU-I WDD 430 Student Notebook</h2>
<p>Winter 2024 Week 1 </p>
<p>CSS Float Layout adapted from:</p>
<a href="https://www.w3schools.com/html/html_layout.asp">https://www.w3schools.com/html/html_layout.asp</a>


<header>
  <h2>Angular App</h2>
</header>

<section>
  <nav>
    <app-widget></app-widget>
  </nav>
  
  <article>
    <h1>Learned this week</h1>
        <ul>
            <li>Install Node.js Angular, and Boostrap v3</li>
            <li>Create an Angular app with reactive input</li>
            <li>apply edits in different ways, i.e. in ts, html, or css file</li>
            <li>create and plug in standalone component</li>
        </ul>
    <h1>To learn next</h1>
    <ul>
        <li>Use Bootstrap, now that we know how to install it</li>
        <li>Do something with the input from that widget</li>
        <li>Do more creative styling</li>
    </ul>
  </article>
</section>

<footer>
  <p>David Hendricks</p>
</footer>

</body>
</html>


<router-outlet></router-outlet>
